@import "tailwindcss";
@tailwind utilities;
/* @plugin "daisyui" {
    themes: none;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
} */

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto.ttf");
}

@font-face {
    font-family: "Bookman";
    src: url("/fonts/Bookman.ttf");
}

h1 {
    font-family: "Montserrat";
}
p {
    font-family: "Roboto";
}

html,body {
	margin: 0;
	width: 100%;
	height: 100%;
}
html {
  scroll-behavior: smooth;
}

.legal-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #101828;
}

.p10{
    padding: 40px;
}

html {
  scroll-behavior: smooth;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}