@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui" {
    themes: none;
    root: ":root";
    include: ;
    exclude: ;
    prefix: ;
    logs: true;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}
h1 {
    font-family: "Montserrat";
}
p {
    font-family: "Roboto";
}

html,body {
	margin: 0;
	width: 100%;
	height: 100%;
}