@import "tailwindcss";


@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("fonts/Lora.ttf");
}
h1 {
    font-family: "Montserrat";
}
p {
    font-family: "Lora";
}

html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}