<footer class="bg-gray-100 shadow-inner border-t border-zinc-300">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-12">
        <div class="grid grid-cols-4">
            <div>
                <ol>
                    <li>Política de privacidad</li>
                    <li>Aviso legal</li>
                    <li>Política de cookies</li>
                    <li>Preferenias de cookies</li>
                </ol>
            </div>
            <div>
                <h2 class="mb-6 text-xl font-normal text-gray-600">Información de contacto</h2>
                <ol>
                    <li>Formulario de contacto</li>
                    <li>Nuestras oficinas</li>
                </ol>
            </div>
            <div>
                <h2  class="mb-6 text-xl font-normal text-gray-600">Links de ayuda</h2>
                <ol>
                    <li>Política de privacidad</li>
                    <li>Aviso legal</li>
                    <li>Política de cookies</li>
                    <li>Preferenias de cookies</li>
                </ol>
            </div>
            <div>
                <h2  class="mb-6 text-xl font-normal text-gray-600">Social</h2>
                <div class="inline-flex space-x-2">
                    <span></span>
                    <span>ig</span>
                    <span>X</span>
                </div>
            </div>
        </div>
    </div>
</footer>