---
import Facebook from "@/assets/svg/Facebook.astro";
import Instagram from "@/assets/svg/Instagram.astro";
import X from "@/assets/svg/X.astro";
import Pencil from "@/assets/svg/Pencil.astro";
import Buildings from "@/assets/svg/Buildings.astro";
---

<footer class="bg-gray-100 shadow-inner border-t border-zinc-300  bottom-0 w-full mt-0 z-10">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-12">
        <div class="grid grid-cols-4">
            <div>
                <ol>
                    <li>Política de privacidad</li>
                    <li>Aviso legal</li>
                    <li>Política de cookies</li>
                    <li>Preferenias de cookies</li>
                </ol>
            </div>
            <div>
                <h2 class="mb-6 text-xl font-normal text-gray-600">Información de contacto</h2>
                    <span class="inline-flex"><Pencil /> Formulario de contacto</span>
                    <span class="inline-flex"><Buildings /> Nuestras oficinas</span>
            </div>
            <div>
                <h2  class="mb-6 text-xl font-normal text-gray-600">Links de ayuda</h2>
                <ol>
                    <li>Política de privacidad</li>
                    <li>Aviso legal</li>
                    <li>Política de cookies</li>
                    <li>Preferenias de cookies</li>
                </ol>
            </div>
            <div>
                <h2  class="mb-4 text-xl font-normal text-gray-600">Social</h2>
                <div class="inline-flex space-x-2">
                    <span>
                        <a href="https://www.facebook.com/AC-Gabinete-Inmobiliario-101677465490643" target="_blank">
                            <Facebook />
                        </a>
                    </span>
                    <span>
                        <a href="https://www.instagram.com/gabineteinmobiliario/" target="_blank">
                            <Instagram />
                        </a>
                    </span>
                    <span>
                        <a href="https://www.x.com/AcGabinete" target="_blank">
                            <X />
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>