---
import Facebook from "@/assets/svg/Facebook.astro";
import Instagram from "@/assets/svg/Instagram.astro";
import X from "@/assets/svg/X.astro";
import Pencil from "@/assets/svg/Pencil.astro";
import Buildings from "@/assets/svg/Buildings.astro";
import { footerConsts } from "@/consts/FooterConsts";
import type { footerItemsInterface } from "@/interfaces/FooterItemsInterface";
---

<footer
  class="bg-gray-100 shadow-inner border-t border-zinc-300 bottom-0 w-full mt-0 z-10"
>
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-12 grid sm:grid-cols-4">
      {footerConsts.map((item: footerItemsInterface) => (
        <div class="p-2">
          <h2 class="pb-3 text-3xl text-gray-600 font-bold">{item.title}</h2>
          <ol>
            {
              item.childs.map((child) => (
                <li class={child.svg && 'flex cursor-pointer'}>{child.svg && <child.svg /> } <a href={child.url}>{child.name}</a></li>
              ))
            }
          </ol>
        </div>
      ))}
      <div class="p-2">
        <h2 class="pb-3 text-3xl font-bold text-gray-600">Social</h2>
        <div class="inline-flex space-x-2">
          <span>
            <a
              href="https://www.facebook.com/AC-Gabinete-Inmobiliario-101677465490643"
              target="_blank"
            >
              <Facebook />
            </a>
          </span>
          <span>
            <a
              href="https://www.instagram.com/gabineteinmobiliario/"
              target="_blank"
            >
              <Instagram />
            </a>
          </span>
          <span>
            <a href="https://www.x.com/AcGabinete" target="_blank">
              <X />
            </a>
          </span>
        </div>
      </div>
  </div>
</footer>
