---
const { labelName, important } = Astro.props;
---

<label for="Nombre" class="pb-5 w-1/2">
    <span class="font-bold">{labelName}{important ? "*" : ""}</span>

    <input
        type="text"
        id={labelName}
        name={labelName}
        class="border p-2 w-full border-[#D4D9DC] rounded-xl shadow-inner"
        placeholder={labelName}
        required={important ? true : false}
    />
</label>
