---
import Phone from "@/assets/svg/Phone.astro";
import type { EmployerType } from "@/interfaces/EmployerInterface";
import { employers } from "@/consts/Employers";
---

{
    employers.map((employer: EmployerType) => (
        <div class="w-52 bg-white rounded-2xl py-3 shadow-2xl shadow-inherit text-[50%] flex flex-col items-center gap-3">
            <img
                src={employer.Img}
                alt="Img empleada"
                class="rounded-full border-4 border-[#c22a24] w-44 h-44 object-cover m-auto"
            />
            <span class="text-[#c22a24]">{employer.Name}</span>
            <span class="inline-flex gap-1">
                <Phone />
                <a
                    href={`https://wa.me/34${employer.Phone}`}
                    class="hover:text-[#c22a24]"
                >
                    {employer.Phone}
                </a>
            </span>
        </div>
    ))
}
