---

import FormatCookie from "./FormatCookie.astro";

---

<div id="Preferencias de cookies" class="fixed inset-0 bg-gray-300/70 hidden items-center justify-center z-50 w-full" onclick="toggleModal('Politica de privacidad')">
  <div
    class="bg-white p-6 rounded-lg shadow-xl max-h-[80dvh] w-1/2 overflow-y-auto" onclick="event.stopPropagation()"
  >
    <h2 id="Preferencias de cookies-title" class="text-xl font-bold mb-4"></h2>
    <p id="Preferencias de cookies-description" class="text-gray-700 whitespace-pre-line">
    </p>
    <FormatCookie />
    <div class="text-right mt-6">
      <button onclick="toggleModal('Preferencias de cookies')" class="px-4 py-2 bg-[#C22A24] text-white rounded">Cerrar</button>
    </div>
  </div>
</div>