---
const { childs } = Astro.props;
---

<ul
  id="nav-hover"
  class="lg:group-hover:block max-lg:group-focus-within:block max-lg:w-full shadow-lg lg:absolute bg-white gray-700 hidden rounded-2xl w-[12%] items-center"
>
  {
    childs.map((child: string) => (
      <li class="hover:bg-gray-100 rounded-2xl cursor-pointer pr-4 pb-2 pt-2 pl-2 hover:font-bold no-underline transition-all duration-200">
        <a>{child}</a>
      </li>
    ))
  }
</ul>
