---
import AngleLeft from "@/assets/svg/Angle-left.astro";
import AngleRight from "@/assets/svg/Angle-right.astro";
import { getCollection } from "astro:content";
import SectionTitle from "./SectionTitle.astro";

const properties = await getCollection("properties");
---

<div class="relative p-12" id="inmuebles">
    <SectionTitle Children="Inmuebles" />
    <div class="carousel-item gap-5 w-full flex justify-center">
        {
            properties.map((propertie) => (
                <section class="group max-lg:w-[90%] w-1/3 z-10 transform transition-all hover:scale-105 relative">
                    <div class="absolute bg-[#c22a24] left-0 rounded-r-lg pl-5 mt-5 py-2 px-4">
                        <p class="text-white items-center text-xl">En venta</p>
                        <p class="font-bold text-xl text-white">
                            {propertie.data.features.totalPrice}
                        </p>
                    </div>
                    <a href={propertie.slug}>
                        <img
                            src={propertie.data.images[0]}
                            class="rounded-2xl shadow-2xl shadow-inherit object-cover"
                        />
                    </a>
                    <h3 class="font-bold p-3">
                        <a href="#">{propertie.data.title}</a>
                    </h3>
                </section>
            ))
        }
        <div
            class="absolute top-1/2 flex
                transform justify-between z-10 w-[95%]"
        >
            <a href="#slide4"><AngleLeft /></a>
            <a href="#slide2"><AngleRight /></a>
        </div>
    </div>
</div>
