---
const { Children } = Astro.props;
---

<h2
    class="text-center !text-3xl !text-slate-800 tokyo__text-border tokyo__text-border--black !mb-10 mt-15"
>
    {Children}
    <hr class="border-t-2 border-black w-1/2 mb-2 m-auto mt-4" />
    <hr class="border-t-2 border-black w-1/2 m-auto" />
</h2>
