---
const { Children, Color } = Astro.props;
---

<h2 class=`text-center !text-3xl text-${Color ? Color : 'slate' } !mb-10`>
    {Children}
    <hr
        class=`border-t-2 border-${Color ? Color : 'black' } w-24 mb-2 m-auto mt-4`
    />
    <hr class=`border-t-2 border-${Color ? Color : 'black'} w-24 m-auto` />
</h2>
