<a
  href="https://maps.google.com/?cid=2421549759704066347"
  target="_blank"
  aria-label="Google"
>
  <svg
    viewBox="0 0 100 100"
    width="2.2rem"
    height="2.2rem"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    class="w-14 h-14"
  >
    <circle cx="50" cy="50" r="50" fill="#FFF"></circle>
    <defs>
      <circle id="circle" cx="50" cy="50" r="40" fill="none" stroke-width="20"
      ></circle>
    </defs>
    <!-- Blue -->
    <use
      xlink:href="#circle"
      stroke="#4285F4"
      stroke-dasharray="62.831853 188.495559"
      stroke-dashoffset="31.375"></use>
    <!-- Red -->
    <use
      xlink:href="#circle"
      stroke="#EA4335"
      stroke-dasharray="62.831853 188.495559"
      stroke-dashoffset="94.125"></use>
    <!-- Orange -->
    <use
      xlink:href="#circle"
      stroke="#FBBC05"
      stroke-dasharray="62.831853 188.495559"
      stroke-dashoffset="156.975"></use>
    <!-- Green -->
    <use
      xlink:href="#circle"
      stroke="#34A853"
      stroke-dasharray="62.831853 188.495559"
      stroke-dashoffset="219.925"></use>
    <text x="50" y="50" text-anchor="middle" dy=".3em">4,5</text>
  </svg>
</a>
