---
import Layout from "@/layouts/Layout.astro";
---

<style>
  p,
  span,
  li {
    font-family: Bookman;
  }
  p {
    margin: 10px;
  }
</style>
<Layout>
  <div class="container mx-auto p-8">
    <h1 class="text-3xl mb-6">Presentación de servicios</h1>
    <section>
      <p>
        <span class="underline font-black italic text-[#212121]"
          >AC Gabinete Inmobiliario,</span
        > nace de la experiencia y la ilusión, para ofrecer un servicio excelente,
        en cualquier proceso de gestión inmobiliaria, contando para ello con profesionales
        en el sector, con más de diez años de experiencia.
        <ol class="list-disc m-8">
          <li>
            Ofrecemos un servicio integral, desde la valoración gratuita del
            inmueble, hasta terminar el proceso de compra-venta, incluyendo la
            firma en notaria, o la firma del contrato de alquiler
          </li>
          <li>Tramitamos herencias</li>
          <li>Gestionamos préstamos hipotecarios</li>
          <li>Descalificamos viviendas de protección oficial</li>
          <li>Realizamos el certificado energético del inmueble</li>
          <li>
            Gestionamos todo tipo de seguros (inmuebles, vehículos, sanitarios,
            etc.)
          </li>
          <li class="font-bold underline">
            Gestión totalmente gratuita para el vendedor, sin ningún tipo de
            pago por honorarios
          </li>
          <li>
            Trabajamos <span class="font-bold underline">sin exclusiva</span>,
            si así lo desea el vendedor
          </li>
        </ol>
      </p>
      <span class="font-bold">2. Modelo de Gestión de compra-venta:</span>
      <p>
        Contamos con un equipo de trabajo, en continua formación dentro del
        mercado inmobiliario, el cual, permanecerá a su lado, hasta el final del
        proceso de compra-venta y le resolverá todas las dudas que le surjan
        durante el mismo.
      </p>
      <p>
        Trabajamos únicamente viviendas que se adapten a la situación de
        mercado, tratando siempre de conseguir el mayor importe posible por la
        misma, asesorando al propietario, en todo momento de las fluctuaciones
        de precio y del momento de mercado, basándonos siempre en las últimas
        tasaciones realizadas y viviendas escrituradas en los últimos 2 meses.
      </p>
      <p>Hacemos una gran inversión en publicidad y promoción del inmueble:</p>
      <p>
        Anuncio de pago mejorado y posicionamiento destacado en los principales
        portales inmobiliarios como: IDEALISTA, FOTOCASA, PISOS.COM, YAENCONTRE,
        HABITACLIA, etc. Y en nuestra web corporativa
        <span class="font-bold text-red-600"
          >www.acgabineteinmobiliario.com</span
        >
      </p>
      <p>
        Publicidad en medios escritos de ámbitos locales y municipales,
        publicidad a pie de calle, buzoneo de flyers y octavillas y una
        publicidad continua en todas nuestras redes sociales.
      </p>
    </section>

    <section class="my-10">
      <h1 class="text-[#c22a24]">Dossier informativo</h1>
      <hr />
      <p>
        Para los compradores que necesitan solicitar una hipoteca, realizamos un
        estudio personalizado a través de nuestro departamento financiero antes
        de cada visita, para asegurarnos de que pueden comprar su vivienda y de
        esta forma filtrar a los compradores reales.
      </p>
      <p>
        Gracias al volumen de hipotecas que tramita nuestro departamento
        financiero, conseguimos convenios con los bancos y cajas adheridas al
        Banco de España, sobre la propuesta de financiación para su vivienda,
        evitando con esto que al cliente que acude de forma particular al banco
        le concedan una hipoteca para uno de los activos del propio banco, lo
        que supondría la pérdida de ese posible cliente comprador final.
      </p>
      <p>
        Nuestro trabajo no finaliza con un acuerdo de venta, sino que nos
        encargamos de preparar y enviar la documentación y permisos a la notaría
        para que todo esté preparado el día que se realice la firma de escritura
        pública ante notario. Toda esta gestión es la llave a una cartera de
        clientes más amplia, valiosa y de calidad, puesto que quedarán realmente
        satisfechos con nuestro trabajo.
      </p>
    </section>
  </div>
</Layout>
