---
import { AsideSold } from "@/components/asideSolds";
import { FilterParent } from "@/components/filterParent";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const properties = await getCollection("properties");
---

<Layout>
    <div class="p10">
        <FilterParent properties={properties} client:load />
    </div>
</Layout>
