---
import { FilterParent } from "@/components/filterParent";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

let properties;

if (Astro.url.searchParams.size == 0) {
    properties = await getCollection("properties");
} else {
    const search = Astro.url.searchParams.get("busqueda");
    const type = Astro.url.searchParams.get("propiedad");
    console.log(search);

    properties = await getCollection("properties").then((c) =>
        c.filter((x) => {
            const matchesType = type ? x.data.tipo == type : true;
            const matchesSearch = search
                ? x.data.titulo.toLowerCase().includes(search.toLowerCase())
                : true;
            return matchesType && matchesSearch;
        }),
    );
}
---

<Layout
    title="Propiedades en venta"
    description="Conoce todas las propiedades que tenemos en venta"
>
    <div class="p10 container mx-auto">
        <FilterParent properties={properties} client:load />
    </div>
</Layout>
