---
import Layout from "@/layouts/Layout.astro";
import bgImg from "@/assets/logo-landing.webp";
import PropertiesCarousel from "@/components/PropertiesCarousel.astro";
import CompanyDescription from "@/components/CompanyDescription.astro";
import { getCollection } from "astro:content";
import TestingCarousel from "@/components/testingCarousel.astro";
import bgImage from "@/assets/bgImage.jpg";
import SectionTitle from "@/components/SectionTitle.astro";

const properties = await getCollection("properties");
---

<style>
  button,
  input {
    padding: 2%;
  }
</style>

<Layout
  title="Página principal"
  description="Página principal de ACGabinete inmobiliario"
>
  <div
    class="mb-0 relative"
    style={`background-image: linear-gradient(rgba(241,243,246,0.4), rgba(241,243,246,0.4)), url(${bgImage.src}); background-size: cover; background-position: center;`}
  >
    <div class="container m-auto items-center">
      <div class="relative bg-white py-8 rounded-lg">
        <img src={bgImg.src} class="w-full object-cover opacity-30 p-6" />
        <div
          class="grid md:grid-cols-2 z-10 absolute inset-0 bg-black/60 rounded-lg"
        >
          <div
            class="md:flex md:flex-col w-full justify-center items-center text-center md:text-left max-md:hidden"
          >
            <h1
              class="my-4 max-md:text-3xl text-5xl font-bold leading-tight text-center text-white max-md:hidden"
            >
              ¿Sueñas con un hogar? Nosotros te lo ofrecemos
            </h1>
            <p
              class="leading-normal text-2xl mb-8 lg:text-center max-lg:hidden max-xl:w-full w-1/2 text-white"
            >
              Ac Gabinete Inmobiliario. Expertos en la gestión de la
              compra-venta y alquiler de inmuebles
            </p>
          </div>
          <div
            class="w-full relative flex flex-col md:justify-center md:items-center"
          >
            <form
              action=""
              method="post"
              class="p-8 bg-black/50 w-full rounded-lg"
            >
              <div class="flex justify-between gap-5">
                <button
                  class="focus:border-[#c22a24] focus:text-[#c22a24] bg-white order-first text-ellipsis w-[25%] font-bold border-2 rounded-md"
                  type="button">Venta</button
                >
                <select
                  class="group focus:border-[#c22a24] focus:text-[#c22a24] bg-white order-last w-[25%] font-bold border-2 rounded-md"
                >
                  <option value="Alojamiento" class="group-focus:text-black"
                    >Alojamiento</option
                  >
                  <option value="Industrial" class="group-focus:text-black"
                    >Industrial</option
                  >
                </select>
              </div>
              <div class="flex flex-col">
                <input
                  type="text"
                  name=""
                  placeholder="¿Qué estas buscando?"
                  class="focus:border-red-600 w-full my-5 bg-white rounded-md border-2"
                />
                <input
                  type="submit"
                  class="bg-[#C22A24] text-2xl font-bold cursor-pointer w-1/2 m-auto text-white rounded-md"
                  value="Buscar"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <section class="w-1/2 mx-auto my-8">
      <SectionTitle Color="black" Children=`Inmuebles` />
      <TestingCarousel
        propertiesAttribute={properties.map((property) => {
          return {
            imagen: property.data.imagenes[0] ?? "default",
            direccion: property.data.direccion ?? "sin direccion",
          };
        })}
        redirect={true}
      />
    </section>
    <!-- <PropertiesCarousel /> -->
    <CompanyDescription />
  </div>
</Layout>
