---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <section
        class="prose max-w-none prose-sm prose-h1:text-2xl prose-p:leading-relaxed text-gray-800 p10"
    >
        <h1 class="legal-title">Política de Cookies</h1>
        <p>
            Alfredo Jesús Ocaña Touset, en adelante <strong
                >AC GABINETE INMOBILIARIO</strong
            >, recoge en este documento su Política de recogida y tratamiento de
            cookies, en cumplimiento de lo dispuesto en el artículo 22.2 de la
            Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
            Información y de Comercio Electrónico (LSSICE).
        </p>

        <p>
            Las cookies se almacenan en el equipo terminal del usuario
            (ordenador o dispositivo móvil) y recopilan información al visitar
            la página web <strong>www.acgabineteinmobiliario.com</strong>, con
            la finalidad de mejorar su usabilidad, conocer los hábitos o
            necesidades de navegación de los usuarios, así como obtener
            información con fines estadísticos.
        </p>

        <p>
            En el caso de usuarios que ya sean clientes, la información recabada
            con las cookies servirá también para su identificación al acceder a
            las herramientas que AC GABINETE INMOBILIARIO pone a su disposición
            para la gestión de servicios.
        </p>

        <p>
            Esta Política de Cookies será de aplicación a aquellos usuarios que
            voluntariamente visiten la web, cumplimenten formularios, accedan a
            herramientas de gestión o utilicen cualquier otro servicio del sitio
            web que implique comunicación de datos a AC GABINETE INMOBILIARIO o
            el acceso a datos por parte de esta.
        </p>

        <p>
            AC GABINETE INMOBILIARIO informa a los usuarios de la existencia de
            cookies y pone a su disposición la presente Política con el objetivo
            de explicar su uso y finalidad.
        </p>
    </section>
</Layout>
