---
import CheckboxForm from "@/components/CheckboxForm.astro";
import FormButton from "@/components/FormButton.astro";
import InputForm from "@/components/InputForm.astro";
import SelectForm from "@/components/SelectForm.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Valora tu Inmueble Gratis"
    description="Obtén una valoración profesional y gratuita de tu propiedad en Murcia. Servicio rápido y confidencial."
>
    <section class="container mx-auto p-10">
        <div>
            <h1 class="text-4xl">Valora tu inmueble</h1>
            <p>
                Aquí puedes enviarnos información sobre tu inmueble. La
                revisaremos lo antes posible.
            </p>
        </div>
        <form
            action=""
            method="post"
            class="grid sm:grid-cols-[1fr_2fr] max-sm:grid-flow-row p-5 w-full gap-5"
        >
            <section class="sm:pr-5 sm:border-r-3 sm:border-gray-400">
                <h1 class="text-2xl w-full">Datos de contacto</h1>
                <InputForm labelName="Nombre" important="true" />
                <InputForm labelName="Teléfono" important="true" />
                <InputForm labelName="Email" important="true" />
                <InputForm labelName="Mensaje" important="true" />
            </section>
            <section class="sm:pl-5">
                <h1 class="text-2xl">Datos del inmueble</h1>
                <section class="inline-flex w-full gap-5">
                    <InputForm labelName="Provincia" important="true" />
                    <SelectForm selectTitle="Tipo *" label="type">
                        <option value="Cualquiera">Cualquiera</option>
                        <option value="Piso">Piso</option>
                        <option value="Casa/Chalet">Casa/Chalet</option>
                        <option value="CasaRustica">Casa Rústica</option>
                        <option value="Bungalow">Bungalow</option>
                        <option value="Habitación">Habitación</option>
                    </SelectForm>
                </section>
                <section class="inline-flex w-full gap-5">
                    <InputForm labelName="Ciudad" important="true" />
                    <SelectForm selectTitle="Planta" label="floor">
                        <option value="Cualquiera">Cualquiera</option>
                        <option value="Sótano 3">Sótano 3</option>
                        <option value="Sótano 2">Sótano 2</option>
                        <option value="Sótano 1">Sótano 1</option>
                        <option value="Bajo">Bajo</option>
                        <option value="Entreplanta">Entreplanta</option>
                    </SelectForm>
                </section>
                <section class="inline-flex w-full gap-5">
                    <InputForm labelName="Código postal" important="true" />
                    <InputForm labelName="Dormitorios" important="true" />
                    <InputForm labelName="Baños" important="true" />
                </section>
                <section class="inline-flex w-full gap-5">
                    <InputForm labelName="Calle" important="true" />
                    <label for="Nombre" class="pb-5 w-1/2 relative">
                        Superficie *
                        <input
                            type="text"
                            id="Superficie"
                            name="Superficie"
                            class="border p-2 w-full border-[#D4D9DC] rounded-xl shadow-inner"
                            placeholder="Superficie"
                            required="true"
                        />
                    </label>
                </section>
                <CheckboxForm
                    text="Acepto que mis datos sean gestionados de acuerdo con las"
                    privacy="true"
                />
                <CheckboxForm
                    text="Acepto de modo inequívoco recibir boletines, newsletter o comunicaciones comerciales de esta entidad."
                />
            </section>
        </form>
        <FormButton>Solicitar valoración</FormButton>
    </section>
</Layout>
