---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <section
        class="prose max-w-none prose-sm prose-h1:text-2xl prose-h2:text-xl prose-p:leading-relaxed text-gray-800 p10"
    >
        <h1 class="legal-title">Términos de uso</h1>

        <p>
            En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio,
            de Servicios de la Sociedad de la Información y Comercio Electrónico
            (LSSICE) a continuación se detallan los datos identificativos de la
            empresa:
        </p>

        <ol class="list-decimal pl-6 mb-6 space-y-1">
            <li><strong>Nombre empresa:</strong> AC GABINETE INMOBILIARIO</li>
            <li><strong>Razón social:</strong> Alfredo Jesús Ocaña Touset</li>
            <li><strong>NIF:</strong> 02265936E</li>
            <li>
                <strong>Dirección:</strong> C/ Palencia, N.º 13 Local - 28941 - Fuenlabrada
                - MADRID
            </li>
            <li><strong>Teléfono:</strong> 912326982</li>
            <li><strong>Email:</strong> info@acgabineteinmobiliario.com</li>
        </ol>

        <h2>Finalidad de la página web</h2>
        <p>
            Informarle sobre nuestros productos y servicios. El presente aviso
            legal regula el uso del sitio web: www.acgabineteinmobiliario.com
        </p>

        <h2>Legislación</h2>
        <p>
            Las relaciones entre AC GABINETE INMOBILIARIO y los usuarios de este
            sitio web están sometidas a la legislación y jurisdicción españolas.
        </p>

        <h2>Uso y acceso de usuarios</h2>
        <p>
            El Usuario queda informado, y acepta, que el acceso a la presente
            web no supone, en modo alguno, el inicio de una relación comercial
            con AC GABINETE INMOBILIARIO ni con ninguna de sus delegaciones.
        </p>

        <h2>Propiedad intelectual e industrial</h2>
        <p>
            Los derechos de propiedad intelectual del contenido, diseño gráfico
            y código de esta web pertenecen a AC GABINETE INMOBILIARIO. Queda
            prohibida su reproducción, distribución, comunicación pública o
            transformación sin consentimiento escrito.
        </p>

        <h2>Contenido de la web y enlaces (links)</h2>
        <p>
            AC GABINETE INMOBILIARIO se reserva el derecho a actualizar,
            modificar o eliminar el contenido del sitio. No se responsabiliza de
            los contenidos de páginas web de terceros accesibles desde enlaces
            incluidos en su sitio web. La presencia de dichos enlaces tiene
            finalidad informativa, sin implicar recomendación alguna.
        </p>
    </section>
</Layout>
