---
import Phone from "@/assets/svg/Phone.astro";
import Location from "@/assets/svg/Location.astro";
import Email from "@/assets/svg/Email.astro";
import CheckboxForm from "@/components/CheckboxForm.astro";
import InputForm from "@/components/InputForm.astro";
import Layout from "@/layouts/Layout.astro";
import FormButton from "@/components/FormButton.astro";
import SelectForm from "@/components/SelectForm.astro";
---

<Layout>
    <div class="container flex flex-row mx-auto p-8">
        <div class="w-full">
            <h1 class="text-4xl font-semibold mb-7">Contacta con nosotros</h1>
            <div class="w-1/2 bg-gray-100 p-10 rounded-2xl shadow-2xl">
                <p class="text-xl font-bold text-slate-600">
                    Donde encontrarnos
                </p>
                <div class="grid-rows-3 text-slate-600 mt-5">
                    <p class="flex gap-4"><Phone /> 662547370</p>
                    <p class="flex gap-4">
                        <Email /> info@gabineteinmobiliario.com
                    </p>
                    <p class="flex gap-2">
                        <Location /> Calle Orquídea, 61, Illescas, España
                    </p>
                </div>
            </div>
        </div>
        <div class="w-full">
            <form method="post">
                <InputForm labelName="Name" important={true} />
                <InputForm labelName="Email" important={true} />
                <InputForm labelName="Phone" important={true} />
                <div class="pb-5">
                    <SelectForm
                        selectTitle="Tipo de servicio *"
                        label="serviceType"
                    >
                        <option value="search"
                            >Estoy buscando un inmueble</option
                        >
                        <option value="operation"
                            >Quiero vender/alquilar un inmueble</option
                        >
                        <option value="other">Otros</option>
                    </SelectForm>
                </div>
                <InputForm labelName="Detalles" important={false} />
                <CheckboxForm
                    privacy="true"
                    text="Aceptar que mis datos sean gestionados de acuerdo con los"
                />
                <CheckboxForm
                    text="Acepto de modo inequívoco recibir boletines, newsletter o comunicaciones comerciales de esta entidad."
                />
                <FormButton children="Enviar" />
            </form>
        </div>
    </div>
</Layout>
