---
const { text, privacy = false } = Astro.props;
---

<div class="text-sm p-2">
    <label for="a">
        <input type="checkbox" name="a" id="a" required = {privacy} />
        {text}
        {
            privacy ? (
                <span class="text-[var(--color-principal)] hover:underline">
                    <a href="/politica-de-privacidad">Política de Privacidad</a>
                </span>
            <span> *</span>) : (
                ""
            )
        }
    </label>
</div>
