---
import Facebook from "@/assets/svg/Facebook.astro";
import Instagram from "@/assets/svg/Instagram.astro";
import X from "@/assets/svg/X.astro";
import { footerConsts } from "@/consts/FooterConsts";
import type { footerItemsInterface } from "@/interfaces/FooterItemsInterface";
import CookieConsent from "./CookieConsent.astro";
---

<footer
  class="bg-gray-100 shadow-inner border-t border-zinc-300 bottom-0 w-full mt-0 z-10"
>
  <div class="mx-auto w-full max-w-screen-xl p-4 lg:py-4 grid sm:grid-cols-4">
    {
      footerConsts.map((item: footerItemsInterface) => (
        <div class="p-2">
          <h2 class="pb-3 text-2xl text-gray-600 font-bold">{item.title}</h2>
          <ol>
            {item.childs.map((child) => (
              <li class={child.svg ? "flex" : ""}>
                {child.svg && <child.svg />}
                <a
                  class="cursor-pointer"
                  {...(child.url ? { href: child.url } : {})}
                >
                  {child.name}
                </a>
              </li>
            ))}
            {item.title == "Legal" ? <CookieConsent /> : ""}
          </ol>
        </div>
      ))
    }
    <div class="p-2">
      <h2 class="pb-3 text-2xl font-bold text-gray-600">Social</h2>
      <div class="inline-flex space-x-2">
        <span>
          <a
            href="https://www.facebook.com/AC-Gabinete-Inmobiliario-101677465490643"
            target="_blank"
          >
            <Facebook />
          </a>
        </span>
        <span>
          <a
            href="https://www.instagram.com/gabineteinmobiliario/"
            target="_blank"
          >
            <Instagram />
          </a>
        </span>
        <span>
          <a href="https://www.x.com/AcGabinete" target="_blank">
            <X />
          </a>
        </span>
      </div>
    </div>
  </div>
  <div
    class="bg-gray-800 border-t border-gray-700 text-center py-4 flex justify-center items-center text-gray-300 text-base"
  >
    <p>
      Desarrollado por
      <a
        href="https://www.linkedin.com/in/marcoscobo2004/"
        target="_blank"
        class="font-bold underline hover:text-white transition-colors"
      >
        Marcos Cobo
      </a>
    </p>
  </div>
</footer>
